@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
}
@media (min-width: 1024) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
}
@media (min-width: 1024) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
}
@media (min-width: 1024) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.25;
}
@media (min-width: 1024) {
  h4 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.25rem;
  line-height: 1.25;
}
@media (min-width: 1024) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.25;
}
@media (min-width: 1024) {
  h6 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --text-color: #231B33;
}

body {
  background: url("/src/img/背景.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 1.5rem;
}
@media (min-width: 1024px) {
  header nav {
    margin: 0.5rem auto;
    padding: 2rem;
  }
}

.section1 {
  position: relative;
}

.bg {
  position: absolute;
  width: 100%;
  height: 200vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  background: url("/src/img/背景4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.bg .mask {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
          clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
}
.bg .mask #foreground {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg .mask #essense {
  position: absolute;
  z-index: 4;
  transform: rotate(15deg);
  height: 50%;
  bottom: 5%;
}
@media (min-width: 1024px) {
  .bg .mask #essense {
    height: 70%;
    right: 20%;
  }
}
.bg .mask #bubbles {
  position: absolute;
  z-index: 3;
  height: 70%;
  right: 7%;
}

.content {
  position: absolute;
  z-index: 98;
  width: 100%;
}
.content__hero {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 100vh;
  margin: 6.25rem 1.5rem 2rem;
  flex-wrap: wrap;
}
.content__hero--title {
  display: flex;
  align-items: center;
}
.content__hero--title h1 {
  margin-right: 1rem;
}
.content__hero p {
  margin: 1.5rem 0;
}
@media (min-width: 1024px) {
  .content__hero {
    margin: auto 6.25rem;
    justify-content: center;
  }
}
.content__ingredient {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.content__ingredient--img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
@media (min-width: 1024px) {
  .content__ingredient--img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content__ingredient--img img {
  height: 50%;
}
.content__ingredient--items {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .content__ingredient--items {
    flex-direction: row;
  }
}
.content__ingredient--items img {
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 1.5rem;
}
@media (min-width: 1024px) {
  .content__ingredient--items img {
    width: 50%;
  }
}
.content__ingredient--items .item-left {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .content__ingredient--items .item-left {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .content__ingredient--items .item-left #acid {
    position: absolute;
    left: 0;
    top: 40%;
  }
}
@media (min-width: 1024px) {
  .content__ingredient--items .item-left #rose {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.content__ingredient--items .item-right {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .content__ingredient--items .item-right {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .content__ingredient--items .item-right #arbutin {
    position: absolute;
    right: 0;
    top: 40%;
  }
}
@media (min-width: 1024px) {
  .content__ingredient--items .item-right #cyanobacteria {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.content__slogan {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__slogan img {
  height: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1024px) {
  .content__slogan img {
    height: 70%;
  }
}/*# sourceMappingURL=main.css.map */